body {
    background-image: url('../icons/wallpaper/computer.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #d1d5db;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1c1f26;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.nav-links, .social-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-links li, .social-links li {
    margin: 0 15px;
}

.nav-links a, .social-links a {
    color: #39ff14;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-links a:hover, .social-links a:hover {
    text-decoration: underline;
}

.social-links a {
    font-size: 1.5rem;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.blog-post {
    background-color: #1c1f26;
    padding: 20px;
    margin: 30px 0;
    border-radius: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-post a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.blog-post h2 {
    color: #39ff14;
}

.blog-post .date {
    color: #7c7f85;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.blog-post p {
    color: #d1d5db;
}

.blog-post:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

footer {
    border: 0;
    background: transparent url("/assets/img/hr-black.png") center center repeat-x;
    height: 3px;
    margin-bottom: 50px;
    margin: 30px 0 60px 0;
    outline: none;
    padding-top: 30px;
    text-align: center;
}

code:not([class]) {
    line-height: normal;
    background: rgba(135, 131, 120, 0.15);
    color: #EB5757;
    border-radius: 3px;
    font-size: 85%;
    padding: 0.2em 0.4em;
}

code {
    font-family: monospace;
}
