body {
    font-family: "Lucida Consola", monospace;
    margin: 0;
    padding: 0;
    background-image: url('../photos/japan.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #00ff2f;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

nav {
    width: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    display: block;
    color: rgb(0, 255, 34);
    padding: 1rem;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

section#home {
    padding: 3rem;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; /* Alinha o texto à esquerda */
    margin-top: 5rem;
}


section#home img {
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
    border-radius: 5px;
}

/* Leia aqui o conteúdo abaixo e você entenderá o porque disso está assim
/* https://untw0.github.io/javascript-obfuscation